fastapi==0.136.1
fastapi_mail==1.6.4
pydantic==2.13.4
python-dotenv==1.2.2
SQLAlchemy==2.0.36
uvicorn==0.27.0
psycopg[binary]==3.2.3
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.9